@font-face {
    font-family: "SourceCodePro";
    src: url('SourceCodePro-Regular.otf');
}

.post-container {
    width: 100%;
    color: #242729;
    display: flex;
    justify-content: center;
    background-color: white;
    transition-duration: 2s;
    padding-top: 40px;
}

.contents {
    flex: 1;
}

.post {
    /* flex: 0 0 740px; */
    max-width: 740px;
}

.post-screen-right {
    flex: 1;
    position: relative;
}

h1 {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: lowercase;
    color: #333333;
}

h4 {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #333333;
    
}

p {
    font-family: "Sentinel A", "Sentinel B";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}

p s {
    background-color: #f3f3f3;
    font-family: "SourceCodePro";
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    font-size: 16px;

    line-height: 26px;
    font-weight: 400;

    text-decoration: none;
    /* line height is being used to offset extra height due to font-size??? */
}

sup { vertical-align: top; position: relative; top: -0.3em; }

pre {
    padding: 20px;
    box-sizing: border-box;
    font-family: "SourceCodePro";
    background-color: #f2f2f2;
    font-size: 16px;
    white-space: pre-wrap;
}

.ql-align-center {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: #f2f2f2; */
}

.katex  {
    /* font-size: 1em; */
    /* font-size: 1em; */
}

/* .mord { */
/*     font-size: .7em; */
/* } */


li {
    font-family: "Sentinel A", "Sentinel B";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

@media only screen and (max-width: 740px) {
    /* .post-container { */
    /*     width: 100%; */
    /* } */

    .post {
        width: 96%;
        flex: none;
    }

    p {
        font-size: 22px;
        line-height: 26px;
    }


    .post-screen-left {
        display: none;
    }

    .post-screen-middle {
        width: 100%;
        max-width: none;
        /* display: flex; */
        /* flex-direction: column; */
        flex-basis: auto;
    }

    .post-screen-right {
        display: none;
    }
}


