.editor-screen {
    width: 100%;
    color: #242729;

    display: flex;
    justify-content: center;

    background-color: white;
    padding-top: 40px;
}

.editor-screen-middle {
    /* align-self: center; */
    width: 740px;
    max-width: 740px;
    border: 1px solid black;
}

.editor-screen-middle p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ql-snow .ql-tooltip input[type=text] {
    height: 200px;
    width: 500px;
}

