.editor-screen {
    width: 100%;
    color: #242729;

    display: flex;
    justify-content: center;

    background-color: white;
    padding-top: 40px;
}

.editor-screen-middle {
    align-self: center;
    max-width: 740px;
}

.ql-snow .ql-tooltip input[type=text] {
    height: 200px;
    width: 500px;
}

